<style>
 body,
html {
  width: 100%;
  height: 100%;
  overflow-x:hidden;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: #000;
  color: #d1d8d0;
}

p {
  font-size: 1.07em;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #FFDE00;
}

hr.light {
  border-color: #fff;
}

hr.green {
  border-color: #037164;
}

a {
  color: #037164;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a.dropdown-item:active {
  background-color: #037164;
  color: #FFF;
}

div#accordion {
  color: #001910;
}

div#accordion a {
  color: #037164 !important;
}

div#accordion a:hover {
  color: #FFDE00 !important;
}

div#formsAndLinks ol, div#formsAndLinks ul {
  text-align: left;
}

a:hover {
  color: #FFDE00;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', Arial, sans-serif;
  color: #FFF;
}

h1.dark,
h2.dark,
h3.dark,
h4.dark,
h5.dark,
h6.dark {
  color: #000;
}

h1.green,
h2.green,
h3.green,
h4.green,
h5.green,
h6.green {
  color: #037164;
}

button#applyNow{
    display: block;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button#applyNow:hover{
  box-shadow: 0px 0px 15px 3px rgba(255,222,0,0.5);
  background-color: #FFF;
}

#welcomeTop, #contact, #infoThree, #footer {
  background-color: #000; //black
}

#info, #creditTable, #membership {
  background-color: #FFF; //white
  color: #001910;
}

div#tutoring a, div#formsAndLinks a, div#volunteer a, div#FAQ a, div#currentTop a {
  color: #FFDE00;
}

#tutoring, #FAQ, #currentTop {
  background-color: #037164; //bxSci green
}

#apply, #formsAndLinks, #volunteer{
  background-color: #001910; //bxSci green dark
}

li{
  text-align: left;
}

div img {
  border-radius: 3px;
}

.container-fluid {
  padding: 2em;
}

img.headshot {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  -webkit-transition: filter 0.2s; /* Safari */
  transition: filter 0.2s;
}

img.headshot:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

img.headshot:active{
  /*box-shadow: 0px 0px 15px 3px rgba(255,222,0,0.5);*/
}

a[aria-expanded*="true"] img {
  box-shadow: 0px 0px 15px 3px rgba(255,222,0,0.5);
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

</style>
